<style>
  .contact-page-map-section {
    width: 100%;
    padding-top: 100px;
  }

  .contact-page-map-container {
    width: 100%;
    height: 600px;
  }

  .contact-page-map {
    width: 100%;
    height: 100%;
    border: 0;
    filter: grayscale(100%);
  }

  @media (max-width: 768px) {
    .contact-page-map-container {
      height: 400px;
      padding: 0 15px;
    }
  }
</style>

<div class="contact-page-map-section">
  <div class="contact-page-map-container">
    {% if section.settings.map_url != blank %}
      <iframe
        src="{{ section.settings.map_url }}"
        class="contact-page-map"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Contact Page Map",
    "settings": [
      {
        "type": "url",
        "id": "map_url",
        "label": "Google Maps URL",
        "info": "Paste the embed URL from Google Maps here."
      }
    ],
    "presets": [
      {
        "name": "Contact Page Map"
      }
    ]
  }
{% endschema %}