<style>
  .ov-our-values {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .ov-content-row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .ov-value-block {
    border-radius: 10px;
    background: rgba(17, 92, 17, 0.10);
    display: flex;
    padding: 25px 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }

  .ov-value-block-text1 {
    color: #616161;
    font-family: Manrope
    , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    text-transform: capitalize;
    margin: 0;
  }

  .ov-value-block-text2 {
    color: #000;
    font-family: Manrope
    , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    margin: 0;
  }

  @media (max-width: 768px) {
    .ov-content-row {
      flex-direction: column;
    }

    .ov-value-block {
      flex: none;
      width: 100%;
    }
  }
</style>

<div class="ov-our-values pageWidth">
  <div class="ov-content-row">
    {% for block in section.blocks %}
      <div class="ov-value-block">
        {% if block.settings.text_1 != blank %}
          <p class="ov-value-block-text1">{{ block.settings.text_1 }}</p>
        {% else %}
          <p class="ov-value-block-text1">First Text</p>
        {% endif %}

        {% if block.settings.text_2 != blank %}
          <p class="ov-value-block-text2">{{ block.settings.text_2 }}</p>
        {% else %}
          <p class="ov-value-block-text2">Second Text</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Our Values",
    "blocks": [
      {
        "type": "value_block",
        "name": "Value Block",
        "settings": [
          {
            "type": "text",
            "id": "text_1",
            "label": "First Text",
            "default": "First Text"
          }, {
            "type": "text",
            "id": "text_2",
            "label": "Second Text",
            "default": "Second Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Our Values",
        "category": "Text",
        "blocks": [
          {
            "type": "value_block"
          }, {
            "type": "value_block"
          }, {
            "type": "value_block"
          }
        ]
      }
    ]
  }
{% endschema %}